<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maxime illo qui delectus assumenda sapiente illum sit blanditiis quam cumque, soluta aperiam nisi veritatis sed quo quis maiores eos? Ducimus?</p>
    {{> footer}}
  </body>
</html>